@import '../../style/palette.css';

.upvoteContainer {
	margin: 30px;
}
.upvoteItem {
	background: #ddd;
	display: flex;
	margin: 2px 0;
	padding: 0px;
	font-size: 20px;
	background: var(--text-primary-color);
	justify-content: space-between;
}

 .upvoteItem-info__ranking {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  min-width: 60px;
	  min-height: 60px;
	  text-align: center;
	  background: var(--dark-primary-color);
	  color: var(--text-primary-color);
	  padding: 0 5px;
	 font-size: 30px;
  }

 .upvoteItem-info__title {
	  display: flex;
	  align-items: center;
	  font-size: 14px;
	  font-weight: 300;
	  padding-left: 10px;
	  width: 69%;
  }

.upvoteItem-info {
	display: flex;
}

.upvoteItem .upvoteItem-image img {
	width: 100%;
	height: 100px;
}

.upvoteItem-info__ranking  span {
	font-size: 30px;
	font-weight: 800;
	padding-right: 5px;
}


.upvote-page .upvoteItem-image {
	display: flex;
	align-items: center;
}
.upvote-page .upvoteItem .upvoteItem-action {
	border-top: 0;
}
.vote-count {
	display: inline-block;
	text-align: center;
}
.vote-count .material-icons {
	display: inline-block;
	vertical-align: middle;
}
@media only screen and (min-width: 640px) {
	 .upvoteItem-image {
		width: 100px;
	}
	.upvoteItem-info__ranking  span {
		font-size: 60px;
	}
	.upvoteItem-info__title {
		font-size: 24px;
		padding-left: 20px;
	}
	.upvoteItem {
		flex-direction: row;
	}
	.upvoteItem-content {
		display: flex;
	}

}

@media only screen and (min-width: 768px) {
	.upvoteItem-info__ranking {
		font-size: 32px;
		min-width: 100px;
		min-height: 100px;
		padding: 0 10px;
	}
	.upvote-page__title {
		font-size: 30px;
	}
	.upvoteItem-image {
		width: 100px;
	}
	.upvoteItem-info__title {
		width: auto;
	}
	.upvote-page {
		padding: 30px;
	}
}
